.row {margin-bottom: $global-margin;}
footer {background: $secondary-color;}
.hero {background: url('../etc/img/topo.jpg') center center;}
.hero h1 {color: $alert-color;}
footer {margin-top: $global-margin; padding: $global-margin;}
.date {color: $primary-color;}