     <footer class="row expanded ">
         <div class="row success">
             <div class="medium-4 columns">
                <h3>Fale com a gente!</h3>
                <ul>
                    <li><a href="https://www.facebook.com/waldorfcamboriu/">Facebook</a></li>
                    <li><a href="mailto:sementewaldor@gmail.com">sementewaldor@gmail.com</a></li>
                    <li>(47) 22222 2222</li>
                    <li>(47) 22222 2222</li>
                    <li>(47) 22222 2222</li>
                </ul>
             </div>
         </div>
     </footer>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/what-input/what-input.js"></script>
    <script src="bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>