<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Merriweather:900,900i" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ "/css/app.css" | prepend: site.baseurl }}">
  </head>