

<p>A Semente&#8230; </p>

<p>Antes de eu me envolver, a Semente era percebida como uma escola diferente, de pais não satisfeitos com a educação quadrada e retrógrada do nosso país, diferente porque buscava algo, diferente&#8230;. Eu ouvia mães falando do espaço gostoso onde seus filhos pulavam em poças, ouviam histórias e faziam seu próprio pão junto com a professora. Uma escola onde as famílias se envolvem, não por obrigação, mas por desejo, por amor mesmo. Uma escola que respeita a individualidade da criança. </p>

<p>Busquei saber um pouco mais sobre a pedagogia Waldorf e a antroposofia, não consegui entender muito mas aos poucos fui aprendendo a admirar essa pedagogia! </p>

<p>Pude participar de uma oficina, onde conheci o local, e de uma festa de época, onde tive a oportunidade de levar minha filha e ver o encanto dela com aquele espaço diferente, gostoso e livre! </p>

<p>A partir dali, uma vontade de fazer parte daquilo, de poder colocar minha filha em contato com a natureza, com a lama e a grama, um ambiente natural que faz falta na vida dessas crianças de apartamento” começou a crescer em mim. </p>

<p>E aí, um dia fiquei sabendo que essa Semente tinha morrido!! Pra mim foi um choque entender como toda aquela dedicação que eu via, estava terminando de um dia para o outro. </p>

<p>Eu não tinha contato direto para saber todas as contradições que aconteciam lá dentro, e como infelizmente as crianças foram usadas como um cheque mate. </p>

<p>Coincidentemente, por volta do mesmo dia em que a Semente fechava suas portas, surgiu no Maternar uma discussão, um desejo de reunir mães que quisessem algo a mais para seus filhos, além da escola regular, algo fora do comum, que respeitasse nossas crianças e fosse de encontro com essa criação com amor que tanto buscamos. </p>

<p>E aí, em uma primeira reunião, onde não pude estar presente, o desejo de não desistir da Semente foi quase unânime. </p>

<p>Daí pra frente, esse novo movimento começou a surgir, cada vez mais gente querendo saber o que é, e se envolvendo, e se dispondo a fazer tudo recomeçar. </p>

<p>Vejo as famílias que passaram por tudo p que foi a “antiga Semente”, se mantendo firme e se emocionando com essa nova carga de amor injetada para essa Semente brotar!! </p>

<p>Reuniões, enxurradas de ideias, de vontade e de talentos se reunindo, quando possível fisicamente, quando não, via whats, via hang out, via qualquer coisa, o que vale é fazer esse bonde andar, é injetar essa nova energia e amor para ver logo a nossa Semente crescendo!! </p>

<p>A vontade de fazer mais e mais pessoas conhecerem essa iniciativa, de arrecadar fundos para tornar tudo possível, a vontade de ver tudo funcionando novamente, de divulgar, de contar pra todo mundo que a Semente só é contida para que os erros não sejam repetidos, para planejar antes de falhar novamente&#8230;e assim renasce essa Semente, andando devagar, porque já se teve pressa um dia, e com calma fortalecendo suas raízes para então crescer sólida e cravada solo bom e fértil! </p>

<p>E que viva a Semente, e que seja pra nós, e que seja pros nossos, e para os que virão! </p>
