---
layout: front
---

<div class="row expanded">
    <img src="/etc/img/{{ post.image }}">
</div>

<div class="row">
  <div class="medium-8 medium-centered columns">

    <h1>{{ page.title }}</h1>

    <h3>Publicado em {% assign m = page.date | date: "%-m" %} 
    {{ page.date | date: "%-d de" }}
    {% case m %}
      {% when '1' %}Janeiro
      {% when '2' %}Fevereiro
      {% when '3' %}Março
      {% when '4' %}Abril
      {% when '5' %}Maio
      {% when '6' %}Junho
      {% when '7' %}Julho
      {% when '8' %}Agosto
      {% when '9' %}Setembro
      {% when '10' %}Outubro
      {% when '11' %}Novembro
      {% when '12' %}Dezembro
    {% endcase %} 
    {{ page.date | date: "de %Y" }}</h3>

    {{ content }}
  </div>
</div>
